<div *ngIf="estado==false;">
  <app-navbar></app-navbar>
</div>
<div *ngIf="estado==true;">
  <app-navbar-reg></app-navbar-reg>
</div>
<div class="cuadro">
  <div class="mitad1">
      <h1><strong> DATA VISUALS</strong></h1>
  </div>
  <div class="mitad2">
      <img src="../../../assets/DATAVISUAL.png" alt="">
  </div>
  
</div>
<div class="cuadro1">
  <div class="part1">
      <h2>IMAGES</h2>
  </div>
  <div class="part2"></div>
</div>

<br><br><br>

<!-- carousel imagenes -->
<div class="Carousel">
  <div class="slick-list" id="slick-list">
    <button class="slick-arrow slick-prev" id="button-prev" data-button="button-prev" onclick="app.processingButton(event)">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>
    </button>
    <div class="slick-track" id="track">
        
        <div *ngFor="let foto of Fotos">
            <div class="slick">
                <a routerLink="/repp/{{foto._id}}">
                    <picture>
                        <img src={{foto.url}} alt="Image">
                    </picture>
                    <figcaption><strong> {{foto.titulo}}</strong></figcaption>
                </a>
            </div>
        </div>
    </div>
    <button class="slick-arrow slick-next" id="button-next" data-button="button-next" onclick="app.processingButton(event)">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
    </button>
</div>
</div>



<!-- <div class="carusel">
    <div class="carousel__contenedor">
        <button class="carousel__anterior" aria-label="Previous slide"><span class="material-icons">
            arrow_back_ios
            </span></button>
            <div class="carousel__lista" >
                <div *ngFor="let foto of Fotos">
                    <div class="carousel__element" >
                            <img src={{foto.url}} alt="">
                            <figcaption><a routerLink={{foto.direccion}}><strong> {{foto.titulo}}</strong></a></figcaption> 
                    </div>
                </div>
            </div>
           <button class="carousel__siguiente" aria-label="Next slide"> <span class="material-icons">
            arrow_forward_ios
            </span></button>
    </div>
</div> -->

<br><br><br>


 
<div class="cuadro2">
  <div class="part2">
  </div>
  <div class="part3">
      <h2>VIDEOS</h2>
  </div>
</div>

 <!-- carousel videos  -->
 <div class="Carousel carousel2">
    <br><br><br>
    <div class="slick-list" id="slick-list">
      <button class="slick-arrow slick-prev" id="button-prev" data-button="button-prev" onclick="app.processingButton(event)">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>
      </button>
      <div class="slick-track" id="track">
          
          <div *ngFor="let video of videos">
              <div class="slick">
                  <a routerLink="/reppvid/{{video._id}}">
                    <picture>
                        <video src="{{video.url}}" alt="Video"></video>
                        <figcaption><strong> {{video.titulo}}</strong></figcaption>
                    </picture>

                  </a>
              </div>
          </div>
      </div>
      <button class="slick-arrow slick-next" id="button-next" data-button="button-next" onclick="app.processingButton(event)">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
      </button>
  </div>
  <br><br><br>
  </div>



<app-footer-main></app-footer-main>