<footer>
    <div class="logoPie">
        <img src="../../../assets/logo b.png" alt="">
        <p>@2021 All rights reserved</p>
    </div>
    <div class="enlaces">
        <div class="iconosPie">
            <a href="https://twitter.com/DavidWakelyn?s=08" target="_blank"><img src="../../../assets/TWITTER.png" alt=""></a>
            <a href="https://www.linkedin.com/in/david-scarlett-wakelyn-9227275/" target="_blank"><img src="../../../assets/LINKEDIN.png" alt=""></a>
        </div>
        <div class="anclas1">
            <ul>
                <h4>INFORMATION</h4>
                <p style="color: white;"> <img class="iconosFooter" src="../../../assets/Pin de ubicación.png" alt=""> Palo Alto C.A., 94306. </p>
                <!-- <p style="color: white;"> <img class="iconosFooter" src="../../../assets/Celular.png" alt=""> 555-555</p> -->
                <p style="color: white;"> <img class="iconosFooter" src="../../../assets/Sobre.png" alt=""> inquiries@usql.org</p>
            </ul>
        </div>
        <div class="anclas2">
            <ul>
                <h4>ABOUT</h4>
                <a style="color:white" routerLink="/policy" routerLinkActive="'active'">POLICY ANALYSIS</a>
                <a style="color:white" routerLink="/literacy" routerLinkActive="'active'">Teaching & Learning</a>
                <a style="color:white" routerLink="/dvisuals" routerLinkActive="'active'">DATA VISUALS</a>
                <a style="color:white" routerLink="/download" routerLinkActive="'active'">DOWNLOAD</a>    
            </ul>
        </div>
    </div>
</footer>